*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --main-color: #71a54b;
}

.big-text{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    width: 70%;
    font-size: 20px;
    justify-items: center;
    
}

.idea {
    width: 70%;
    align-items: center;
    grid-template-columns: auto;
}




.pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 10px; */
    width: 80%;
    height: 100%;
    justify-items:center;
    align-items: center;
    margin-top: 25px;
}

.img-fixed-larger {
    width: 85%;
    height: 100%;
}



@media screen and (max-width:768px) {
    .big-text {
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }

    .pics {
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    
}