*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --main-color: #71a54b;
}


.big-text{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    width: 70%;
    font-size: 20px;
    justify-items: center;
}

.grid-container {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.grid-container .container {
    font-size: 25px;
    flex-direction: column;
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 7px;
}

@media screen and (max-width:768px) {
    .big-text {
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }

    .pics {
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    
    .grid-container .container {
        height: 125px;
    }
    
    
    
}
