*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


:root {
    --main-color: #71a54b;
}

::selection {
    background-color: var(--main-color);
    color: white;
}

.main-content:nth-child(2n + 0) {
    background-color: rgb(238, 238, 238);
    width: 100%;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation {
    margin-bottom: -20px;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(rgba(122, 122, 122, 0.5), white) ;
}
   
.menu-item {
    margin: -2px 0px 0px -2px;
    padding: 20px 15px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    /* height: 4em; */
}

.menu-item.link {
    /* text-align: center;
    line-height: 2em; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: -2px 0px 0px -2px;
    height: 4em;
}

.img-fixed {
    width: 150px;
}

/** LINKS **/
.link {
    color: black;
    text-decoration: none;
}

.menu-item.link:hover {
    color: white;
    background-color: rgb(59, 55, 55);
    transition: 0.35s ease-in-out;
}

.link-active {
    color: white;
    background-color: rgb(59, 55, 55);
}

li {
    list-style-type: none;
    
}

/* li p{
    
    color: rgb(216, 216, 216);
} */

 .news-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: none;
}

.burger {
    /* margin-right: 230px; */
    padding:5px;
    cursor: pointer;
    display: none;
}

.burger div {
    width: 27px;
    height: 5px;
    background-color: black;
    margin: 4px 0px;
    border-radius: 10px;
    display: none;

}

.KUD {
    display: none;
}

.main {
    flex-direction: column;   
}

.main-content {
    display: flex;
    flex-direction: column;
    /* text-align: justify; */
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 6px 0px;
    width: 100%;
}

.title {
    text-align: center;
}

.main-title {
    grid-column: 1/3;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 37px;
    color: var(--main-color);
}



.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(199, 204, 201);
    background-color: rgb(27, 26, 18);
}



