@media screen and (max-width:768px) { 
    .slideshow {
        z-index: 0;
        width: 90%;
    }

    .gogi {
        height: 250px;
    }

    #right, #left {
        top: 43%;
    }

    .about {
        display: grid;
        grid-template-columns: auto; 
        grid-column-gap: 40px;
    }

    .grid-container-about {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .prizes {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
    }

    .world {
        grid-template-columns: auto;
    }

    .countrylist {
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .countrylist li {
        width: 100px;
    }

    .sponsors {
        grid-template-columns: auto auto;
    }

    .news {
        grid-template-columns: auto;
        grid-row-gap: 1em;
    }

    .news-image-item {
        display: none;
    }

    .players {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
    }
}