:root {
    --main-color: #71a54b;
    --secondary-color: #eeeeee;
}

li {
    list-style-type: none;
}

#images {
    transition: transform 0.3s ease-in;
}

.slideshow {
    width: 50%;
    position: relative;
}

.gogi {
    margin: 20px 0;
    width: 100%;
    height: 650px;
    object-fit: cover;
    transition: transform 0.5s ease-in;
}

#right, #left {
    display: inline;
    position: absolute;
    top: 50%;
    font-size: 30px;
    width: 35px;
    height: 50px;
    color: black;
    font-weight: bold;
    background: none;
    background-color: rgba(256,256,256,0.3);
    transition: 0.6s ease;
    border: none;
    cursor: pointer;
}

#right {
    right: 0;
}

#right:hover, #left:hover {
    background-color: rgba(256,256,256,0.8);
}

.grid-container-about {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 20px;
    justify-items: center;
}

.grid-container-about .container {
    padding: 10px;
    font-size: 25px;
    width: 70%;
    flex-direction: column;
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 7px;
    border: 1px solid var(--main-color);
    transition: 0.5s;
}

.grid-container-about .container:hover {
    color: white;
    background: var(--main-color);
    transition: 0.5s;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 18px;
    grid-column-gap: 80px;
    width: 80%;
}

.prizes {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    width: 95%;
    grid-column-gap: 50px;
}

.prize {
    padding: 10px;
    border-radius: 7px;
    text-align: justify;
    border: 1px solid var(--main-color);
    transition: 0.5s;
}

.prize:hover {
    color: white;
    background: var(--main-color);
    transition: 0.5s;
}

.world {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-column-gap: -40px;
    justify-items: center;
    align-items: center;
}

.countries {
    width: 70%;
    height: 100%;
}

.countrylist {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
}

.countrylist li {
    font-size: larger;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 2px;
    background-color: var(--main-color);
    color: rgb(236, 236, 236);
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 95%;
    grid-column-gap: 50px;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    min-height: 100%;
    padding: 10px;
    row-gap: 15px;
    transition: 0.5s ease-in-out;
}

.news-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: none;
}

.news-image {
    width: 70%;
    /* height: 100%; */
}

.news-image-item {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}

.news-text {
    height: 50%;
}

.addNews {
    margin-top: 10px ;
    margin-left: 90%;
    margin-right: 10px;
    width: 110px;
    height: 45px;
    background-color: #71a54b;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.addNews:hover {
    background-color: #5f8b3f;
}


.sponsors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}

.orchestra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.conductor {
    color: white;
    background: var(--main-color);
}

.players {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.type {
    padding: 15px;
    border: 1px solid var(--main-color);
    border-radius: 7px;
    transition: 0.5s;
}

.type:hover {
    color: white;
    background: var(--main-color);
    transition: 0.5s;
}

.map {
    height: 300px;
    width: 60%;
}