div {
    color: white;
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    
}

.player-hidden {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.player {
    position: absolute;
    top:0;
    z-index: -1;
    border-radius: 100%;
}

#leko {
    position: absolute;
    top:0;
    transform: translate(50vw, 0vw);
}

#Bis1 {
    position: absolute;
    top:0;
    transform: translate(35vw, 10vw);
}

#Bis2 {
    transform: translate(45vw, 12vw);
}

#Bis3 {
    transform: translate(55vw, 12vw);
}

#Br1 {
    transform: translate(65vw, 10vw);
}

#Br2 {
    transform: translate(27vw, 16vw);
}


#Br3 {
    transform: translate(38.5vw, 19vw);
}

#Čelo {
    transform: translate(50vw, 20vw);
}

#Čvić {
    transform: translate(61.5vw, 19vw);
}

#Bug {
    transform: translate(73vw, 16vw);
}

#Bas {
    transform: translate(35vw, 26vw);
}

#i2 {
    transform: translate(45vw, 28vw);
}

#i3 {
    transform: translate(55vw, 28vw);
}

#i4 {
    transform: translate(65vw, 26vw);
}