<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/news.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>

<body>
    <h1 class="main-title">Unesi novost</h1>

    <!-- <form action="" method="POST" class=" form gutter main-content">
        <div class="container form-group">
            <label style="display: block; float: left;" for="text" class="form-label">Opis novosti</label>
            <br>
            <textarea name="text" id="text" cols="50" rows="10"></textarea>

            <label class="form-label" for="image">URL slike:</label>
            <input class="form-component form-input" style="width: 15%; height: 25px;" type="text" name="image" id="image">

            <label for="author">Autor:</label>
            <input style="width: 10%; height: 25px;" type="text" name="author" id="author">

            <input class="addNews" type="submit" name="submit" id="submit" >
        </div>

    </form> -->

    <form action="" method="post" class="form gutter main-content">
        <fieldset class="form-fieldset">
            <legend class="form-legend">User registration form</legend>

            <div class="form-group">
                <label class="form-label" for="text">Opis novosti:</label>
                <textarea class="form-component form-input" name="text" id="text" cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label class="form-label" for="image">Puni naziv slike:</label>
                <input class="form-component form-input" type="text" 
                       id="image"
                       name="image" placeholder="imeSlike.jpg/png/gif" required>
            </div>

            <input class="addNews" type="submit" name="submit" id="submit" >

        </fieldset>
    </form>


</body>

</html>