<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/news.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>

<body>
    <h1 class="main-title">Unesi novost</h1>

    <form action="" method="POST" class="container">
        <div class="container">
            <label style="display: block; float: left;" for="text" class="form-label">Opis novosti</label>
            <br>
            <textarea name="text" id="text" cols="50" rows="10"></textarea>

            <label for="image">URL slike:</label>
            <input style="width: 15%; height: 25px;" type="text" name="image" id="image">

            <label for="author">Autor:</label>
            <input style="width: 10%; height: 25px;" type="text" name="author" id="author">

            <input class="addNews" type="submit" name="submit" id="submit" >
        </div>

    </form>


</body>

</html>